.playerList {
  width: 100%;
  padding-inline: 16px;

  .inputBox {
    padding-block: 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  table {
    width: 100%;
    text-align: left;

    a {
      text-decoration: none;
      color: inherit; 
    }

    thead {
      border: 1px solid rgb(65, 64, 64);
      background-color: rgb(65, 64, 64);
      color: white;
      th {
        font-size: 150%;
        font-family: 'Handel Gothic';
        padding: 0.5em;
      } 
    }

    tbody {
      td {
        display: table-cell;
        vertical-align: middle;
        padding: 4px;

        img {
          vertical-align: middle;
          padding: 8px;
          margin-inline-end: 8px;
        }
      }

      tr {
        display: table-row;
      }

      tr:nth-child(odd) {
        background-color: rgba(113, 195, 233, 0.575);
      }

      tr:hover {
        background-color: orange;
      }
    }
  }
}