@import '../../variables';

.navBar {
  width: 100%;
  height: 2em;
  background-color: gray;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1em;

  .link {
    text-decoration: none;
    color: inherit;
    border: 1px solid transparent;
  }

  .active {
    border: 1px solid orange;
    // background-color: rgb(70, 69, 69);
    // color: $gray;
  }
}