@import './variables';

.body {
  margin: 0 auto;
  background-image: url('../public/td_bg.jpg');
  background-color: #273f57;
  background-position: center top;
  background-repeat: repeat-y;

  .pageContainer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
  }

  .header {    
    color: $gray;
    width: 100%;
    // border: 1px solid green;

    .topBar {
      width: 100%;
      height: 120px;
      background-image: url('../public/td_top_bar.png');
      background-size: cover;
      display: flex;
      align-items: center;

      // .playerProfile {
      //   display: flex;
      //   flex-flow: row nowrap;
      //   align-items: center;
      //   margin-right: 20px;
      //   background-color: transparent;

      //   p {
      //     background-color: transparent;
      //   }
      // }

      .logo {
        background-color: transparent;
      }
    }
  }

  .topLevelDiv {
    // border: 1px solid yellow;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // color: $red;

    .test {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      height: 100%;
      width: 100%;
    }

  }

  .footer {
    width: 100%;
    height: 93px;
    background-color: #cccccc;
	  background-image: url('../public/footerbar.png');
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
   
}