@import './variables';

.body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-image: url('../public/td_bg.jpg');
  background-color: #273f57;
  background-position: center top;
  background-repeat: repeat-y;

  .header {    
    display: flex;
    flex-flow: column nowrap; // works!
    color: $gray;
    // border: 1px solid green;

    .topBar {
      width: 1000px;
      height: 103px;
      background-image: url('../public/td_top_bar.png');

      display: flex;
      justify-content: space-between;

      .playerProfile {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-right: 20px;
        background-color: transparent;

        p {
          background-color: transparent;
        }
      }

      .logo {
        background-color: transparent;
      }
    }

    .navBar {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1em;
	    padding-left: 100px;
      background-color:rgb(33, 34, 34);
      height: 2em;

      a {
        // font-family: HandelGothic;
        text-decoration: none;
        color: $gray;
        &:hover {
          background-color: black;
        }
      }
    }
  }

  .topLevelDiv {
    // border: 1px solid yellow;
    display: flex;
    justify-content: center;

    background: url('../public/body_bg1.jpg') no-repeat scroll 0 0 #FFFFFF;
    width: 1000px;
    min-height: 700px;
    // color: $red;

    .test {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      height: 100%;
      width: 100%;
    }

  }

  .footer {
    width: 1000px;
    height: 93px;
    background-color: #cccccc;
	  background-image: url('../public/footerbar.png');
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
   
}