@import '../../../variables';

.matchesContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 5px;
  color: white;

  .noData {
    color: black;
    margin-top: 0.25em;
  }

  > a {
    background-color: gray;
    &:nth-child(even) {
      background-color: rgb(85, 83, 83);
    }

    &:hover {
      background-color: $row-highlight
    }
  }
}