.gameContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-position: center center;
  background-size: cover;

  .header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // font-family: 'Handel Gothic';

    h1 {
      font-family: 'Handel Gothic';
      font-size: 150%;
    }

    h1, p {
      color: yellow;      
      text-shadow: 2px 2px 1px black;
    }

    p {
      font-size: 125%;
    }

    a {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }
  
  .scoreboardContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1em;

    .scoreboard {
      width: 35em;
      height: 15em;
      text-align: left;
      color: #fefefe;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .blueTeam , .redTeam {
      // border: 1px solid black;
      border-radius: 5px;

      caption {
        font-family: 'Handel Gothic';
        font-size: 150%;
        padding: 0.25em;

        a {
          color: inherit;
          font-family: inherit;
          font-size: inherit;
          text-decoration: underline;
          text-decoration-skip-ink: none;
        }
      }

      th {
        border-bottom: 1px solid white;
      }

      th, td {
        vertical-align: middle;
      }

      tbody tr:hover {
        background-color: rgb(0, 42, 97);
      }
    }

    .blueTeam {
      background-color: rgb(24, 24, 112);
    }

    .redTeam {
      background-color: rgb(92, 22, 22);
    }
  }
}