.layoutContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80%;

  h1 {
    font-size: 150%;
    font-family: 'Handel Gothic';
    padding: 5px 0;
  }
  
  b {
    font-weight: bold;
  }
}