.summaryContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .topContainer {
    display: flex;
    flex-flow: row nowrap;
    // align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    
    .vitalStats {
      margin-top: 1em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      flex: 1;
      // background-color: rgb(161, 161, 161);
      border: 1px solid black;
      box-shadow: 10px 5px 5px gray;
    }
  
    .recentAwards {
      margin-top: 1em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      flex: 1;
      // background-color: rgb(161, 161, 161);
      border: 1px solid black;
      box-shadow: 10px 5px 5px gray;
  
      .awardBox {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
  
        .textBox {
          display: flex;
          flex-flow: column nowrap;
          text-align: center;
          width: 100%;
  
          h2 {
            font-size: 125%;
          }
        }
      }
    }
  }

  .recentMatches {
    margin-top: 1em;
    width: 100%; 

    .matchesContainer {
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;
    }
  }

  .recentCompetitors {
    margin-top: 1em;
    width: 100%;
    // border: 1px solid yellow;

    .competitorsContainer {
      margin-top: 1em;
      display: flex;
      flex-flow: row wrap;      
      gap: 10px;
    }
  }
}