.rosterTable {
  width: 80%;
  background-color: rgba(240, 255, 255, 0.8);
  margin-top: 1em;

  caption {
    text-align: left;
    font-family: "Handel Gothic";
    font-size: 150%;
  }

  table, th, td {      
    border: 1px solid black;
    text-align: left;
  }

  th, td {
    padding: 0.25em;
  }

  tr:nth-child(odd) {
    background-color: rgba(140, 155, 155, 0.8);
  }

  th {
    background-color: greenyellow;
  }

  tr:hover {
    background-color: orange;
  }

  td {
    cursor: pointer;
  }
}