@import '../../variables';

.teamBox {
  border: 1px solid $red;
  border-radius: 10px;
  width: 40em;  
  min-height: 20em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.5);

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-size: 150%;
  }

  .rosterContainer {
    display: flex;
    flex-flow: row wrap;
    // border: 1px solid green;
    // width: 
    // height: 100%;
    gap: 10px;

    .playerBox {
      width: 12em;
      // border: 1px solid red;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      min-width: 8em;

      img {
        background-color: black;
      }
    }
  }
  
}