.tableContainer {
  margin-top: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .inputBox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: yellow;
    text-decoration: 2px 2px 1px black;
    background-color: rgb(60, 60, 65);
    padding: 10px;
    border-radius: 15px;
  }

  .weaponStats {
    // margin-top:
    border: 1px solid black;
    table-layout: fixed;
    width: 60em;
    min-height: 30em;
    text-align: left;
    background-color: rgb(60, 60, 65);
    // background-color: rgb(33, 34, 34);
    color: #fefefe;
    

    .accuracyBox {
      display: flex;
      flex-flow: column nowrap;

      h2 {
        color: gray;
        font-size: 75%;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    th {
      width: 6em;
      height: 2em;
      // border: 1px solid blue;
      font-family: 'Handel Gothic';
      img {
        vertical-align: top;
      }
    }

    th, td {
      padding: 0.5em;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      vertical-align: middle;
    }

    tbody {

      tr {
        height: 3.5em;
        &:hover {
          background-color: rgba(0, 42, 97, 0.781);
        }
      }

      .gold {
        color: yellow;
      }
    }
  }
}