.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  // border: 1px solid green;
  width: 100%;

  h1 {
    font-size: 200%;
    font-family: "Handel Gothic"
  }

  .generalStats {
    width: 80%;
    height: 15em;
    border: 1px solid black;
    box-shadow: 10px 5px 5px gray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // justify-content: center;
    margin-top: 1em;

    caption {
      // text-align: left;
      font-family: "Handel Gothic";
      font-size: 125%;
    }

    table, th, td {
      margin-top: 1em;
      border: 1px solid black;
      text-align: left;
    }

    th, td {
      padding: 0.25em;
    }
  }

  .recentMatchesContainer {
    text-align: left;
    width: 80%;
    margin-top: 1em;

    h1 {
      font-size: 150%;
    }

    .matches {
      display: flex;
      flex-flow: row;
      gap: 5em;

      .match {
        width: 128px;
        height: 128px;
        background-image: url('../../../../public/placeholder_teamlogo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 128px 128px;
        
        p {
          position: relative;
          background-color: rgba(219, 216, 216, 0.7);
          top: 75%;
          text-align: center;
        }
      }
    }
  }
}