@import '../../../variables';

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  // border: 1px solid green;
  width: 100%;

  h1 {
    font-family: 'Handel Gothic';
  }


  .generalStats {
    width: 75%;
    height: 15em;
    border: 1px solid black;
    box-shadow: 10px 5px 5px gray;
    // display: flex;
    // flex-flow: column nowrap;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    margin-top: 1em;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 8px;
    padding: 5px;

    h1 {
      font-size: 200%;
    }

    ul {
      margin-top: 0.25em;
      margin-left: 0.25em;
      text-align: left;

      li {
        margin: 2px 0;
      }
    }

    caption {
      // text-align: left;
      font-family: "Handel Gothic";
      font-size: 125%;
    }

    table, th, td {
      margin-top: 1em;
      border: 1px solid black;
      text-align: left;
    }

    th, td {
      padding: 0.25em;
    }
  }

  .roster {
    display: flex;
    flex-flow: column nowrap;
    // align-items: center
    text-align: left;
    width: 100%;
    // border: 1px solid red;
  
    h1 {
      font-size: 150%;
    }
  
    a {
      text-decoration: none;
      color: inherit;
      font-size: inherit;
    }
  
    table {
      // width: 45em;
    
      thead {
        background-color: rgb(65, 64, 64);
        color: white;
        th {
          font-size: 125%;
          font-family: 'Handel Gothic';
          padding: 0.5em;
        } 
      }
  
      tbody {
        td {
          font-size: 110%;
          padding: 0.5em;
          vertical-align: middle;
  
          img {
            vertical-align: middle;
          }
        }
  
        tr:nth-child(odd) {
          background-color: rgba(113, 195, 233, 0.575);
          // background-color: $td7-blue;
        }
  
        tr:hover {
          background-color: orange;
        }
      }
    }
  }

  .recentMatchesContainer {
    text-align: left;
    width: 100%;
    margin-top: 1em;

    h1 {
      font-size: 150%;
    }

    .matches {
      display: flex;
      flex-flow: row;
      gap: 5em;

      .match {
        width: 128px;
        height: 128px;
        background-image: url('../../../../public/placeholder_teamlogo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 128px 128px;
        
        p {
          position: relative;
          background-color: rgba(219, 216, 216, 0.7);
          top: 75%;
          text-align: center;
        }
      }
    }
  }
}